*.o
!main_int8.o
!main.o
!matmul_avx_int8.o
!matmul_imp.o
!matmul_int8.o
!matmul_int4.o
!matmul_onednn.o
!utils.o
*.a
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.vs/

assets/
*.bin
!ggml-vocab.bin
*.zip
*.txt
*.json
test_*
!test_*.cc
demo
profile_*
!profile_*.cc
libtorch/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

build
*.dSYM
chat